VITE_SUPABASE_URL=https://pzrxktspxxddhdmpwkeq.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6cnhrdHNweHhkZGhkbXB3a2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NDE1MzEsImV4cCI6MjA5MjAxNzUzMX0.enXLirCtjzjnMUqvqXovcwKFzO76X80KzywJX57Ij90

